body{
  background: #F5F5D5;
}
hr{
  background: #D3D3D3;
  opacity: 0.4;
}
.translation {
  margin-top: -20px;
  font-size: 14px;
  color: $grey-dark;
}

.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
