
.posts-expand .post {
    position: relative;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 15px 15px 15px;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #fff;
    margin-left: -50px;
    margin-right: -50px;
}

.posts-expand .post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-bottom: 2px solid #3c9dff;
}
.posts-expand .post .mod-category__article-time {
    position: absolute;
    top: 20px;
    left: -90px;
    width: 70px;
    height: 45px;
    background: #e5e5e5;
    filter: alpha(opacity=80);
    background: hsla(0,0%,80%,.4);
}

.posts-expand .post .mod-category__article-time span {
    float: left;
    font-size: 12px;
    line-height: 22px;
    color: #666;
    text-indent: 10px;
}
.posts-expand .post .mod-category__article-time:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    border-color: transparent #bbb transparent transparent;
    border-style: solid;
    border-width: 0 50px 20px 0;
    height: 0;
    width: 0;
}
