
.posts-expand .post {
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 30px 15px 30px;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #fff;
    margin-left: -80px;
    margin-right: -80px;
}

.posts-expand .post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-bottom: 2px solid #3c9dff;
}
.posts-expand .post-title:before {
    background: #fff;
}
.posts-expand .post-title:hover:before {
    background: #fff;
}
.posts-expand .post-title{
   -webkit-box-reflect: below -18px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(10%,transparent),to(hsla(0,0%,100%,.2)));
}
   
#posts article.post div.mod-category_article-time {
    position: absolute;
    top: 20px;
    left: -56px;
    width: 70px;
    height: 45px;
    background: #e5e5e5;
    background: rgba(212, 212, 133, 0.44);
}

#posts article.post div.mod-category_article-time  span{
    font-size: 12px;
    line-height: 42px;
    color: #ec0606;
    text-indent: 10px;
}

#posts article.post div.mod-category_article-time:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 5px;
    border-color: transparent rgba(158, 158, 140, 0.62) transparent transparent;
    border-style: solid;
    border-width: 0 50px 20px 0;
    height: 0;
    width: 0;
}
#posts .post .highlight pre {
    padding: 4px;
}
