.footer-inner {
  border-top: 1px solid #D3D3D3;
  padding-top: 6px;
}
.site-uv {
    margin-right: 10px;
}
.site-uv .busuanzi-value, .site-pv .busuanzi-value, .page-pv .busuanzi-value {
    margin: 0 5px;
}
.site-uv::after {
    content: "|";
    padding-left: 10px;
}

img.fenxi{
	width:16px;
	height:16px;
}
