.one-column .header-inner {
      border-bottom: 1px solid #d3d3d3;
}
.menu {
    padding: 0;
}
.menu .menu-item a:hover, .menu .menu-item a:active{
    display: inline-block;
}
#access a:hover, #access a:active {
    background: rgba(0,0,0,.1);
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3) inset;
}

.menu .menu-item a {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: .3s box-shadow, .3s padding;
    border-radius: 9999px;
}
