.post-more-link a {
    border: 2px solid #555;
    padding: 0 20px;
}

.post-more-link a.btn:hover{
    color: #fff;
    background: #222;
}

.post-more-link {
    text-align: center;
}

#posts .post pre, #posts .post .highlight{
    background: url(https://sf-static.b0.upaiyun.com/v-57ecc802/global/img/blueprint.png) #f6f6f6;
}
